body {
    background-color: hsl(212, 45%, 89%);
}
.outfit-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.outfit-700 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.card {
    max-width: 288px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    background-color: #fff; /* Adjust the color as needed */
    margin: 152px auto; /* Center the card */
  }
  
  .qr-code {
    background-image: url('images/image-qr-code.png'); /* Replace with your QR code image path */
    width: 288px;
    height: 288px;
    background-size: cover;
  }
  @media(min-width: 376px){
    .qr-code {
        border-radius: 20px;
    }
  }
  /* Style the text */
  .text {
    text-align: center;
    margin-top: 24px;
  }
  @media(min-width: 376px){
  .text {
    margin: 24px 0px;
  }
}
  .text h1 {
    color: #1F314F;
    padding: 0px 16px;
    font-size: 22px;
    margin-bottom: 16px;
  }
  /* Style the small text */
  .text p {
    font-size: 15px;
    padding: 0px;
    display: block;
    color: #666; /* Adjust the color as needed */
    margin: 0px 16px;
  }
  